/* Styles for tags */
h1 {
    color: #FF0000; 
}

h2 {
    color: rgb(0, 0, 255); 
}

p {
    font-size: 18px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

/* Styles for classes */
.unordered-list {
    list-style: square; 
}

.ordered-list {
    list-style: decimal;
}

.custom-table {
    border: 2px solid #000000;
    width: 100%;
}

.header1 {
    background-color: #FFA07A; 
}

.header2 {
    background-color: rgb(255, 160, 122); 
}
